.Index {
  background-image: url(./img/luna-tobytrading.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.contenedor1 {
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 0 15px 0 15px;
}

span {
  color: #fffefe;
  font-size: small;
  display: flex;
  justify-content: center;
  padding: 10px 0 15px 0;
}

.Inicio {
  display: flex;
  flex-direction: column;
  margin: 10px 80px 10px 80px;
  height: 45px;
  width: 50%;
}

.Inicio1 {
  font-size: 25px;
  border: none;
  outline: none;
  border-radius: 30px;
  color: #050505;
  padding: 18px;
  background-color: #fff;
  cursor: pointer;
  align-items: center;
  text-align: center;
}

.Inicio1:hover {
  background-color: #66bbf3;
}

.Inicio::after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.Inicio:hover::after {
  opacity: 1;
}

.Inicio a {
  text-decoration: none;
  color: #292828;
}

.body-forex {
  background-color: #00254E;
}

* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-forex {
  color: #00254E;
}

.containerinicio1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerinicio1nav {
  background: #dfe8eb;
  border-radius: 50px;
  padding: 10px;
  box-shadow: 9 25px 20px -20px rgba(0, 0, 0, 0.4);
  margin: 10px 0 auto 0;
}

.containerinicio1nav ul li {
  list-style: none;
  display: inline-grid;
  padding: 13px 35px;
  margin: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #292828;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 0.2s;
}

.containerinicio1nav ul li::after {
  content: " ";
  background: #66bbf3;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
}

.containerinicio1nav ul li:hover {
  color: #fff;
}

.containerinicio1nav ul li:hover::after {
  top: 50%;
  opacity: 1;
}

.containerinicio1nav a {
  text-decoration: none;
  color: #292828;
}

header {
  color: #fff;
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding: 0 0 15px 0;
}

.TForex1 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 50px;
}

.T2forex-div {
  margin: 15px;
  text-align: center;
}
.T2forex-div .h2forex1 {
  text-align: center;
  color: white;
  padding: 5px;
  background-color: #5D83B1;
  text-shadow: 2px 2px 2px black;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 0;
}
.T2forex-div .p2forex1 {
  color: white;
  padding: 5px;
  background-color: #565651;
  text-shadow: 2px 2px 2px black;
  border-radius: 0px 0px 5px 5px;
}

.T3forex-div {
  margin: 15px;
  text-align: center;
}
.T3forex-div .h3forex1 {
  color: white;
  padding: 5px;
  background-color: #5D83B1;
  text-shadow: 2px 2px 2px black;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 0;
}
.T3forex-div .p3forex1 {
  color: white;
  padding: 5px;
  background-color: #565651;
  text-shadow: 2px 2px 2px black;
  border-radius: 0px 0px 5px 5px;
}

.T4forex-div {
  text-align: center;
  margin: 20px;
}
.T4forex-div .h4forex1 {
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.img-forex-div p {
  font-size: 25px;
  color: white;
  text-shadow: 2px 2px 2px black;
  text-align: center;
}

.img-forex-div {
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  justify-content: space-around;
}

.img-forex-div img {
  width: 600px;
  height: 600px;
}/*# sourceMappingURL=style.css.map */