*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./img/luna-tobytrading.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;

}

.contenedor1{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
}

span{
    color: #fff;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 15px 0;

}

header{
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 0 0 15px 0;
}
.input-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.input-field .input{
    height: 45px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #fff;
    padding: 0 0 0 42px;
    background: rgba(255,255,255,0.1);
}
.Inicio{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    height: 45px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #fff;
    padding: 14px 0 0 35px;
    background-color: #fff;
    
}


i{
    position: relative;
    top: -31px;
    left: 17px;
    color: #fff;

}
::-webkit-input-placeholder{
    color: #fff;
}
.submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    background: rgba(255,255,255,0.7);
    cursor: pointer;
    transition: .5s;
}
.submit :hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.Boton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    color: #fff;
    margin-top: 10px;
}
.izquierda{
    display: flex;
}
label a{
    color: #fff;
    text-decoration: none;
}
/* Inicio html */
.containerinicio1{
    background-color: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerinicio1nav{
    background:#28c1f0 ;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 9 25px 20px -20px rgba(0, 0, 0, 0.4);
}
.containerinicio1nav ul li{
    list-style: none;
    display: inline-grid;
    padding: 13px 35px;
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #292828;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.4s;
    
}

